<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="../style/styles.css" th:href="@{/styles/styles.css}" rel="stylesheet" />
        <title>My CV Project - Home</title>
    </head>
    <body>
        <ul>
            <a href="/templates/profile.html" th:href="@{/profile}"> Profile</a>
            <a  href="/templates/keySkills.html"     th:href="@{/keySkills}"> Key Skills</a>
            <a  href="/templates/employmentHistory.html"     th:href="@{/employmentHistory}"> Employment History</a>
            <a  href="/templates/education.html"     th:href="@{/education}"> Education/Training History</a>
            <a  href="/templates/volunteering.html"     th:href="@{/volunteering}"> Volunteering</a>
            <a  href="/templates/knowledge.html"     th:href="@{/knowledge}"> Knowledge</a>
            <a  href="/templates/contact_form.html"     th:href="@{/contact}"> Contact</a>
        </ul>
        <p><br/></p>
        <div>
            <h1>My Skills</h1>
            <p class="index">

            <div th:if="${#lists.isEmpty(mySkillsList)}">
                <b>111111111111111111111111111</b>
            </div>
            <div th:each="skill: ${mySkillsList}">
                <p>[[${skill.skillDescription}]]</p>
            </div>

            </p>
        </div>
    </body>
</html>