<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><!DOCTYPE html>
            <html lang="en">
            <head>
            <meta charset="UTF-8">
            <title>Title</title>
    </head>
        <body>
            <ul>
                <a href="/templates/profile.html" th:href="@{/profile}"> Profile</a>
                <a  href="/templates/keySkills.html"     th:href="@{/keySkills}"> Key Skills</a>
                <a  href="/templates/employmentHistory.html"     th:href="@{/employmentHistory}"> Employment History</a>
                <a  href="/templates/education.html"     th:href="@{/education}"> Education/Training History</a>
                <a  href="/templates/volunteering.html"     th:href="@{/volunteering}"> Volunteering</a>
                <a  href="/templates/knowledge.html"     th:href="@{/knowledge}"> Knowledge</a>
                <a  href="/templates/contact_form.html"     th:href="@{/contact}"> Contact</a>
                <a  href="/templates/admin.html"     th:href="@{/admin}"> Admin</a>
            </ul>
            <form action="#" th:action="@{'/updateProfileNewData'}" method="post">
                <table>
                    <tr>
                        <input type="text" name="description" >
                    </tr>
                </table>
                <input type="Submit" value="  Update  ">
            </form>
        </body>
</html>